  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
     <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <div class="perent-wrapper-recom">
    <h3 class="recom-title"><span>Add-Ons:</span> Mach dein Set Komplett</h3>
    <div class="wrapper-recom">
    <div class="swiper mySwiper swiper-custom">
  <div class="cart-recommendation swiper-wrapper swiper-wrapper-custom">
    {% for item in cart.items %}
       {% assign collection = item.product.metafields.custom.cart_recommended.value %}
    {% for product in collection %}
      <div class="swiper-slide swiper-slide-custom dublicate">
          {% render 'recomended-products',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load
                  %}
      </div>
      {% endfor %}
    {% endfor %}
     
  </div>
      <div class="swiper-button-next custom-next"><svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.15" d="M17.2562 0.639534C17.6714 0.23004 18.2346 0 18.8217 0C19.4089 0 19.972 0.23004 20.3872 0.639534L30.3517 10.4689C30.7668 10.8785 31 11.434 31 12.0132C31 12.5924 30.7668 13.1479 30.3517 13.5575L20.3872 23.3868C19.9696 23.7847 19.4103 24.0049 18.8297 23.9999C18.2491 23.9949 17.6937 23.7652 17.2832 23.3602C16.8726 22.9552 16.6397 22.4074 16.6347 21.8347C16.6296 21.262 16.8528 20.7102 17.2562 20.2982L23.2504 14.1975H2.21432C1.62705 14.1975 1.06382 13.9674 0.648559 13.5577C0.233294 13.1481 0 12.5925 0 12.0132C0 11.4339 0.233294 10.8783 0.648559 10.4687C1.06382 10.059 1.62705 9.82889 2.21432 9.82889H23.2504L17.2562 3.72814C16.8411 3.31852 16.6079 2.76303 16.6079 2.18383C16.6079 1.60464 16.8411 1.04915 17.2562 0.639534Z" fill="black"/>
</svg>
</div>
    <div class="swiper-button-prev custom-prev">
      <svg width="32" height="25" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.15" d="M14.2518 23.7325C13.8456 24.151 13.2876 24.3933 12.7006 24.4062C12.1136 24.419 11.5456 24.2014 11.1215 23.8011L0.944298 14.1921C0.520312 13.7917 0.275009 13.2414 0.262332 12.6624C0.249656 12.0833 0.470646 11.5229 0.876703 11.1043L10.6236 1.05919C11.0325 0.652256 11.5868 0.419903 12.1674 0.412172C12.748 0.404442 13.3082 0.621951 13.7275 1.01786C14.1469 1.41376 14.3917 1.95638 14.4093 2.52885C14.4268 3.10132 14.2158 3.65783 13.8215 4.07853L7.96232 10.309L28.9933 9.84862C29.5804 9.83577 30.1486 10.0535 30.5727 10.454C30.9968 10.8544 31.2422 11.4048 31.2549 11.9839C31.2676 12.5631 31.0465 13.1237 30.6403 13.5423C30.2341 13.9609 29.6761 14.2033 29.0889 14.2162L8.05793 14.6766L14.1842 20.6447C14.6082 21.0451 14.8535 21.5953 14.8661 22.1744C14.8788 22.7535 14.6578 23.3139 14.2518 23.7325Z" fill="black"/>
</svg>
    </div>
    </div>
  <div class="swiper-pagination custom-pagination"></div>
      </div>
</div>
  <style>
    .custom-next svg, .custom-prev svg{
      height:50% !important;
    }
    .custom-pagination{
    bottom: -14px !important;
    top: auto !important;
    margin-top: 0px !important;
    width: 100% !important;
    left: 40px !important;
      text-align:left !important;
          height: 26px;
      display:block !important;
    }
    .swiper-pagination-bullet {
    width: 85px !important;
    height: 3px !important;
	border-radius: 0 !important;
	position: relative !important;
	overflow: hidden !important;
      background:#ffffff00 !important;
    }
  .swiper-pagination-bullet-active{
    background:#312F2F!important;
  }
    .cart-recommendation .price-item--regular {
    font-size: 14px;
    font-weight: 700;
   color: #989898;
    font-family: Plus Jakarta Sans, serif !important;
      padding-top:0.3rem;
}
.perent-wrapper-recom{
  background:#f4f6f8;
  padding:16px;
  border-top: 1px solid #cfd1d4;
}
.recom-title span{
  font-weight:700;
  font-size:16px;
}
    quantity-input.quantity.cart-quantity {
    max-width: 150px;
}
      .cart-recommendation .card__content{
        overflow:hidden;
      }  
    .swiper-slide-custom{
      height:max-content !important;
    }
    h3.recom-title {
    font-size: 16px;
          width: fit-content;
    border-bottom: 1px solid;
      margin:10px 0px 36px 12px;
         font-family: 'Plus Jakarta Sans', serif !important;
}
.swiper-custom{
  position:static;
  width: calc(100% - 16%);
}
.wrapper-recom{
  position:relative;
}
    cart-drawer-items {
    overflow: unset !important;
    
}
    
 
.custom-next::after, .custom-prev::after{
  display:none;
}
    .custom-prev{
      left:0px !important;
          transform: translateY(-15%);
    }
    .custom-next{
      right:0px !important;
          transform: translateY(-15%);
    }

.cart-recommendation quick-add-bulk quantity-input{
  justify-content:flex-start;
}
    .is-empty .cart-recommendation{
      display:none;
    }
    .is-empty .recom-title{
      display:none;
    }

    .{{ card_product.title | remove: " " }} ~ .cart-recommendation .{{ card_product.title | remove: " " }} {
    display:none !important;
  }
   .cart-recommendation .card__heading a:after{
   display:none;
 }
 .cart-recommendation .card.card--standard.card--media{
   display:flex;
   flex-direction:row;
 }
  .cart-recommendation .card__inner {
  width: 22%;
    height: 100px;
    aspect-ratio: 1 / 1;
}

.cart-recommendation .card__content {
    width: 50%;
    padding-left: 16px !important;
  flex-grow:unset;
}
.cart-recommendation .card__information {
    grid-row-start: 1;
    padding-top:0px !important;
}
    .cart-recommendation .card__heading a{
      font-family: Plus Jakarta Sans, serif !important;
    font-weight: 700;
      font-size:15px;
          white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    }
   .cart-recommendation .motion-reduce {
    width: 92px !important;
    height: 92px !important;
     border-radius:6px !important;
}
    .cart-recommendation .underline-links-hover:hover a{
      text-decoration:none;
    }
      .cart-recommendation .card__heading a:hover{
        text-decoration:underline;
      }
    .icon-pluss {
    display: flex;

      padding-left:20px;
}
     .cart-recommendation .button{
       background:#00000000;
     }
   
     .cart-recommendation .quick-add__submit{
      padding:0px;
       min-width:unset;
     }
   .cart-recommendation .button--secondary:after {
    --border-opacity:0px;
    border-radius: 50%;
}
 
    @media(max-width:749px){
      .custom-pagination{
        left: 28px !important;
      }
      .cart-recommendation .card__inner{
        width:32% !important;
      }
      .icon-pluss{
        padding-left:0px !important ;
      }
      .cart-recommendation .card__content{
        padding-left:12px !important;
      }
      .custom-prev{
        left:-5px !important;
      }
      .custom-next{
        right:-5px !important;
      }
      .perent-wrapper-recom {

    padding: 16px 10px !important;
      }
  
    }
       @media(max-width:429px){
              .cart-recommendation .quantity__input {
        max-width: 30px !important;
    }
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
 function dublicate(){
    var liText='', liList = $('.dublicate'), listForRemove = [];
    $(liList).each(function () {
      var text = $(this).text();
if (liText.indexOf('|'+ text + '|') == -1){
liText += '|'+ text + '|';
  
}
else{
listForRemove.push($(this));
}
});
$(listForRemove).each(function () { $(this).remove(); });
 }
dublicate();
  $(document).on("click", '.addtocarts', function(){
    setTimeout(()=>{
      dublicate  ();
    },3000)
  });
  $(document).on("click", '.button--tertiary', function(){
    setTimeout(()=>{
      dublicate  ();
    },2000)
  });
  $(document).on("click", '.quantity__button', function(){
    setTimeout(()=>{
      dublicate  ();
    },2000)

 })
// Get all elements with the class 'product-form__submit'
document.addEventListener("DOMContentLoaded", function () {
  // Delay execution by 1 second
  setTimeout(() => {
    const submitButtons_add = document.querySelectorAll('.product-form__submit');
    console.log(submitButtons_add);

    // Add a click event listener to each button
    submitButtons_add.forEach(button => {
      button.addEventListener('click', function (event) {
        console.log("hello");
          setTimeout(() => {
        var newswiper = new Swiper(".swiper-custom", {
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
          },1000);
      });
    });
  }, 00); // 1000 milliseconds = 1 second
});

document.addEventListener("DOMContentLoaded", function () {
  var newswiper = new Swiper(".swiper-custom", {
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
})
</script>